@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}


.app.night {
  background-color: #202020;
  color: #ecf0f1;
}

.app.day {
  background-color: #ecf0f1;
  color: #87ceeb;
}
